/* CSS RESET */
* {
	margin: 0;
	padding: 0;
}
/* GENERAL STYLES */
body {
	background-color: #f7f7f7;
	color: #131313;
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	height: 100%;
}
html {
	height: 100%;
}
/* LAYOUT */
.container {
	margin: 0 auto;	
	max-width: 1120px;
	width: 70%;
}
main {
	margin-top: 15px;
}
/* HELPERS */
.box-shadow {
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
}
.center {
	text-align: center;
}
.hide {
	display: none;
}
.green-text {
	color: #2f7c11;
}
.mono {
	font-family: 'Source Code Pro', monospace;
}
.red-text {
	color: #b61010;
}
.text-shadow {
	text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
}
/* HEADER */
h1.title {
	color: white;
	font-family: 'Signika', sans-serif;
	font-size: 48px;
}
header {
	background-color: #fa6800;
	height: 75px;
	width: 100%;
}
header .container {
	align-items: center;
	display: flex;
	height: 100%;
	}
.menu {
	color: white;
	display: block;
	font-size: 48px;
	margin-left: auto;
	text-decoration: none;
}
/* SERVER INFO BOX */
.server-box {
	align-items: center;
	display: flex;	
}
.server-image {
	width: 100px;
	height: 100px;
	border: 3px solid #131313;
	border-radius: 10px;
}
.server-info {
	padding: 10px;
}
/* SEARCH BOX */
input[type=text] {
  border: 1px solid #DBDBDB;
  color: #7F7E7F;
  height: 40px;
  width: 100%;
  display: block;
  margin: 5px auto;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
input[type=text]:focus {
  color: #333333;
  border: 1px solid #575555;
}
input[type=text]:hover {
  border: 1px solid #333333;
}
.search-box {
	background-color: white;
	border-radius: 10px;
	margin: 20px auto;
	padding: 20px;
	position: relative;
	width: 60%;
}
.spinner {
	left: 50%;
	position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
	z-index: 10;
}
/* RESULTS */
.result {
	align-items: center;
	display: flex;
	margin: 10px;
	max-width: 300px;
}
.result-image {
	width: 75px;
	height: 75px;
}
.result-info {
	padding: 10px;
	position: relative;
	z-index: 5;
}
.result-player {
	display: flex;
	align-items: center;
}
.result-player img{
	margin-right: 5px;
}
.results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 16px;
}
.results-label {
	font-size: 24px;
	margin-bottom: 15px;
	display: none;
}
.result-more-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-color: rgba(247, 247, 247, .8);
	display: none;
	z-index: 10;
}
.result-info:hover .result-more-info {
	display: block;
}
.show-more-info:active .result-more-info {
	display: block;
}
.show-on-mobile {
	display: none;
}
/* FOOTER */
footer {
	align-items: center;
	background-color: #fa6800;
	color: white;
	display: flex;
	margin-top: auto;
	min-height: 65px;
	text-align: center;
	width: 100%;
}
footer a {
	color: white;
	text-decoration: none;
}
/* MEDIA QUERIES */
@media (max-width: 750px) {
	.container {
		width: 85%;
	}
	h1.title, .menu {
		font-size: 36px;
	}
	.show-on-mobile {
		display: block;
	}
	.show-on-desktop {
		display: none;
	}
}
@media (max-width: 500px) {
	.container {
		width: 95%;
	}
	.result-image {
		height: 60px;
		width: 60px;
	}
	.search-box {
		width: 85%;
	}
}